   <div class="holder contacto">
   <div>
            <h2 class="contac">Contacto rapido</h2>
            <form action="" method="" class="formulario">
                <p>
                    <label for="nom">Nombre</label>
                    <input type="text">
                </p>
                <p>
                    <label for="ema">Email</label>
                    <input type="email">
                </p>
                <p>
                    <label for="tel">Telefono</label>
                    <input type="text">

                </p>
                <p class="mensajuli">
                    <label for="men">Mensaje</label>
                    <textarea name="Mensaje" id="men"></textarea>

                </p>
                <p>
                    <input type="submit" value="Enviar">
                </p>

            </form>
        </div>
        <div class="datos">
            <h2>Escribinos</h2>
            <p>contactanos por aca:</p>
            <ul>
                <li> <a class="wpp" href="https://wa.me/541155011990" target="_blank"><i
                            class="fa-brands fa-whatsapp"></i></a> Whatsapp: +54 9 11 5501-1990</li>
                <li><i class="fa-solid fa-envelope"></i> Mail: Dr.MedranoAllende@gmail.com</li>
                <li><i class="fa-solid fa-phone-flip"></i> Telefono: 1155011990</li>
            </ul>
            <a href="/"><img src="images/dienteynombre.png" alt="drmedrano"></a>

        </div>
        </div>
        <div class="holder">
        <div class="flechas">
        <a href="/trabajos"><i class="fa-regular fa-circle-left"></i></a>
        <a href="/novedades"><i class="fa-regular fa-circle-right"></i></a>
    </div>