 <section class="home">
            <img src="images/diente.jpg" alt="diente">
            <p class="texto">Dr. Medrano Allende, con mas de 32 años de experencia laboral en la odontologia, trabajando tanto en consultorio particular, como en importantes prepagas de la ciudad de Buenos Aires, con un post grado en implantologia en la Univerisad Catolica Argentina</p>
        </section>

        <div class="caballito">
            <h2>Zona Caballito</h2>
        </div>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7809.099840505001!2d-58.440260042515!3d-34.62130149932938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1654075347926!5m2!1ses!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="cubo">
            <div class="datostexto">
                <h3>Datos Contacto-Ubicación :</h3>
                <ul>
                    <li><a class="casita" href="/contactanos"><i class="fa-solid fa-house"></i></a> Calle
                        Calasanz(Ubicacion consultar al wpp)</li>
                    <li><a class="wpp" href="https://wa.me/541155011990" target="_blank"><i
                                class="fa-brands fa-whatsapp"></i></a> Whatsapp: +54 9 11 5501-1990</li>
                </ul>
                <p></p>

            </div>
        </div>

         <div class="holder">
        <div class="flechas">
        <a href="/novedades"><i class="fa-regular fa-circle-left"></i></a>
        <a href="/especialidades"><i class="fa-regular fa-circle-right"></i></a>
    </div>