<h2>novedades</h2>
<div>
    <h3>Titulo</h3>
    <h4>Subtitulo</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt nisi quo cum at distinctio ad, deleniti inventore error iste! Nam sequi ipsam ab laborum repellat. Cupiditate tempora repudiandae voluptates iste. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti veritatis autem voluptate eos ratione quam sit odio illo quod dolorem error deserunt saepe necessitatibus quibusdam eaque debitis, expedita officiis pariatur.</p>
    <hr/>
</div>
<div>
    <h3>Titulo</h3>
    <h4>Subtitulo</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt nisi quo cum at distinctio ad, deleniti inventore error iste! Nam sequi ipsam ab laborum repellat. Cupiditate tempora repudiandae voluptates iste. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti veritatis autem voluptate eos ratione quam sit odio illo quod dolorem error deserunt saepe necessitatibus quibusdam eaque debitis, expedita officiis pariatur.</p>
    <hr/>
</div>
























<div class="holder">
        <div class="flechas">
        <a href="/contactanos"><i class="fa-regular fa-circle-left"></i></a>
        <a href="/"><i class="fa-regular fa-circle-right"></i></a>
    </div>