  <h2 class="nov-titulo">Novedades :</h2>
   {{#each novedades}}
        <div>
            <h3 class="title">{{titulo}}</h3>
            <h4 class="subtitle">{{subtitulo}}</h4>
            <p>{{cuerpo}}</p>
            <hr /> 
        </div>
        {{/each}}
























<div class="holder">
        <div class="flechas">
        <a href="/contactanos"><i class="fa-regular fa-circle-left"></i></a>
        <a href="/"><i class="fa-regular fa-circle-right"></i></a>
    </div>